html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

#buttons {
  display: flex;
}

#buttons button {
  width: 100px;
  height: 40px;
  margin: 5px;
  font-size: 30px;
  background-color: #ccc;
  border-radius: 10px;
  outline: none;
}
